/*

*/

body
{
    background-color: green;
    text-align: center;
    background-color: #F0F0F0;
    background: linear-gradient(-45deg, #F0F0F0, #f2e6d9);
    padding: 0;
}

header
{
    color: #d80000;
    padding-top: 1em;
    padding-bottom: .5em;
    font-family: 'Abril Fatface', cursive;
}

nav
{
    background: linear-gradient(-45deg, #900000, #d80000);
    color: #F0F0F0;
    font-family: 'Lobster', cursive;
    font-size: 1.65em;
}

.landing
{
    background-image: url("images/fall.jpg");
    height: 55em;
    background-size: cover;
}

.bar
{
    height: 10em;
    /*background-color: crimson;*/
    background: linear-gradient(-45deg, #900000, #d80000);
    transform: rotate(2deg);
    width: 101.8%;
    position: relative;
    top: -35px;
    z-index: 2;
    box-shadow: 10px 10px 5px #888888;
}

.shop0
{
    margin-top: 5em;
    padding-left: 1em;
}

.shop1
{

    position: relative;
    
}

.item
{
    text-align: center;
    margin-bottom: 10em;
    display: inline-block;
}


.checkout
{
    padding-top: 7em;
    padding-bottom: 9em;
}

.slot
{
    display: inline-block;
    background-color: #dfbf9f;
}

.container-fluid
{
    margin: 0;
    padding: 0;
}
.padfix
{
    padding: 0;
}

th
{
    text-align: center;
}

.btn
{
    box-shadow: 2px 2px 1px #888888;
}

.panel
{
    box-shadow: 10px 10px 5px #888888;
}

.table
{
    margin: 0;
}

.totalBar
{
    font-size: 1.25em;
}