/*

*/

body
{
    background-color: green;
    text-align: center;
    background-color: rgb(223, 219, 215);
}

header
{
    background-color: rgb(223, 219, 215);
    color: rgb(218, 40, 40);
    padding-top: 1em;
    padding-bottom: .5em;
    font-family: 'Abril Fatface', cursive;
}

nav
{
    background-color: crimson;
    color: rgb(245, 223, 197);
    font-family: 'Lobster', cursive;
    font-size: 1.65em;
}

.landing
{
    background-image: url("images/fall.jpg");
    height: 55em;
    background-size: cover;
}

.bar
{
    height: 10em;
    background-color: crimson;
    transform: rotate(2deg);
    width: 101.8%;
    position: relative;
    top: -35px;
    z-index: 2;
}

.shop0
{
    background-color: rgb(223, 219, 215);
    position: relative;
    margin-top: 5em;
}

.shop1
{
    background-color: rgb(223, 219, 215);

    position: relative;
}

.item
{
    text-align: center;
    padding-left: 10em;
    margin-bottom: 10em;
}

.checkout
{
    padding-top: 7em;
    padding-bottom: 9em;

}

.slot
{
    padding: .5em;
}